<!-- <footer>
    <a href="mailto:lkcbharath@gmail.com" class="fa fa-envelope" target="blank"></a>
    <a href="https://www.linkedin.com/in/lkcbharath" class="fa fa-linkedin" target="blank"></a>
    <a href="https://www.instagram.com/bharath_adikar" class="fa fa-instagram" target="blank"></a>
    <a href="https://www.github.com/lkcbharath" class="fa fa-github" target="blank"></a>
    <a href="https://www.stopstalk.com/user/profile/lkcbharath" class="fa fa-code" target="blank"></a>
</footer> -->

<footer class="page-footer font-small pt-4">

  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      
      <li class="list-inline-item">
        <a class="fa fa-lg fa-linkedin" href="https://www.linkedin.com/in/lkcbharath" ></a>
      </li>
              
      <li class="list-inline-item">
        <a class="fa fa-lg fa-instagram" href="https://www.instagram.com/bharath_adikar"></a>
      </li>

      <li class="list-inline-item">
        <a class="fa fa-lg fa-envelope" href="mailto:lkcbharath@gmail.com"></a>
      </li>

      <li class="list-inline-item">
        <a class="fa fa-lg fa-github" href="https://www.github.com/lkcbharath"></a>
      </li>

      <li class="list-inline-item">
        <a class="fa fa-lg fa-code" href="https://www.stopstalk.com/user/profile/lkcbharath"></a>
      </li>

    </ul>

  </div>

</footer>

  