{% include style.html %}
<div class="footer">
    <a href="mailto:lkcbharath@gmail.com" class="fa fa-envelope" target="blank"></a>
    <a href="https://www.linkedin.com/in/lkcbharath" class="fa fa-linkedin" target="blank"></a>
    <a href="https://www.instagram.com/bharath_adikar" class="fa fa-instagram" target="blank"></a>
    <a href="https://www.github.com/lkcbharath" class="fa fa-github" target="blank"></a>
    <a href="https://www.stopstalk.com/user/profile/lkcbharath" class="fa fa-code" target="blank"></a>
</div>