// Colours from Sublime text:
$background: #272822;
$foreground: #F8F8F2;
$comment: #75715E;
$red: #F92672;
$orange: #FD971F;
$light-orange: #E69F66;
$yellow: #E6DB74;
$green: #A6E22E;
$blue: #66D9EF;
$purple: #AE81FF;


.body-index{
	background-color: $background;
}

.import-highlight{
	color: $red;
}
.var-highlight{
	color: $blue;
}
.string-highlight{
	color: $yellow;
}
.const-highlight{
	color: $purple;
}
// experiment each time text is changed, with 500 800 x
#typewriter{
		@media (max-width: 500px) {
			font-size: 0.8em;
		}
		@media (min-width: 500px) and (max-width: 800px) {
			font-size: 1em;
		}
		font-size: 1.5em;
		font-family: "Courier New";

		&:after{
			content: "|";
			color: rgb(0, 160, 8);
			animation: blink 600ms linear infinite alternate;
		}
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}