@import "header-basic.css";
@import "blogcard.css";
@import "footer.css";

/* For the headers to look good, be sure to reset the margin and padding of the body */
body { 
    background-color: #eaf0f2;
    margin:0;
	  padding:0;
    /* font: 16px Helvetica, sans-serif;  */
    color: #333;
}

/* Google's way of responsiveness */

p {
  font-size:120%;
}

h1 {
  font-size:250%;
}

.main { 
    display: block; 
    text-align: left; 
    max-width: 1000px; 
    padding: 30px;
    margin: 0 auto; 
}

.main::after{
  content: '';
  display: block;
  height: 60px; /* Set same as footer's height */
}

/* some fix for the footer */

.main-index { 
    
  display: relative; 
  text-align: left; 
  /* max-width: 1000px;  */
  /* padding:30px; */
  margin: 0 auto; 
}

.main-index::after{
  content: '';
  display: block;
  /* height: 60px; */
}

/* Some fix for the centered captions */

#carouselExampleIndicators .carousel-caption {
top: 50%;
transform: translateY(-50%);
bottom: initial;
}


