<!doctype html>
<html>
  <head>

    <title>Bharath Adikar</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My website">
    <meta name="author" content="Bharath Adikar">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
    
    <!-- <link rel="stylesheet" href="/assets/css/main.css"> -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/js/mdb.min.js"></script> -->

    <title>{{ page.title }}</title>
      
  </head>
  <body>

    {% include header.html %}   

    <div class="main" >

        <h2> {{ page.title }}</h2>
        <br>
        
        {{ content }}
        
    </div>

    {% include footer.html %}
    
    <script src = "/assets/js/header.js"></script>
  </body>
</html>


